:root{
    --first: rgb(48, 255, 169);
    --third: #e7e7e7;
    --bg: #202020;  

    /* --first: #202020;
    --third: #e7e7e7;
    --bg: rgb(48, 255, 169);   */

    /* fonts */
    --tebal: 'Bebas Neue', sans-serif;
    --biasa: 'Noto Sans', sans-serif;
    --poppins: 'Poppins', sans-serif;

}


/* width */
::-webkit-scrollbar {
    width: 8px;
    border-radius: 15px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--bg); 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--first); 
}


body{
    overflow-x: hidden;
    background-color: var(--bg);
}

a{
    text-decoration: none;
}

/* navbar */
.mynavbar{
    display: flex;
    justify-content: space-between;
    padding: 1.7rem 20%;
    background-color: var(--bg);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 99;
}

.mynavbar .nav-logo{
    font-family: var(--tebal);
    font-size: 2rem;
    font-weight: bold;
    color: var(--first);
    line-height: 27px;
    letter-spacing: 5px;
    text-shadow: 2px 2px 4px var(--first);
    transition: .3s ease;
}

.mynavbar .nav-logo:hover{
    text-shadow: 1px 1px 25px var(--first);
}

.mynavbar .navbar-nav{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 2rem;
}

.mynavbar .nav-links a{
    margin-left: 2rem;
    font-size: 1.4rem;
    letter-spacing: 3px;
    font-family: var(--tebal);
    color: rgb(151, 151, 151);
    text-transform: uppercase;
    transition: .3s ease;
}

.mynavbar .nav-links a:hover{
    color: white;
}

.mynavbar .nav-socials{
    position: relative;
}

.mynavbar .nav-socials i{
    margin: 0 .7rem;
    font-size: 1.3rem;
    font-weight: bold;
    color: var(--bg);
    transition: .4s;
    padding: .4rem .6rem;
    background-color: white;
    border-radius: 15%;
}

.mynavbar .nav-socials i:hover{
    cursor: pointer;
    background-color: transparent;
    color: var(--first);
}

.mynavbar .nav-extra i{
    color: white;
    font-size: 1.5rem;
}

.mynavbar .nav-extra{
    display: none;
}


/* hero */
.hero::after{
    content: "";
    font-size: 3rem;
    font-weight: bold;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    right: -5%;
    top: 10%;
    background-color: var(--first);
    opacity: .9;
    animation: big-bounce 6s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    box-shadow: 1px 1px 20px var(--first);
}

.hero::before{
    content: "";
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    left: -5%;
    top: 50%;
    background-color: var(--first);
    opacity: .8;
    animation: big-bounce 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    box-shadow: 1px 1px 20px var(--first);
}

.hero{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    padding: 0rem 20%;
}

.hero .circle{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: var(--first);
    border-radius: 50%;
    box-shadow: 1px 1px 10px var(--first);
    font-size: 2rem;
    font-weight: bold;
    font-family: var(--poppins);
}

.hero .circle:nth-child(1){
    bottom: 5%;
    left: 10%;
    animation: bounce 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.hero .circle:nth-child(2){
    bottom: 50%;
    left: 17%;
    width: 100px;
    height: 100px;
    animation: bounce 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.hero .circle:nth-child(3){
    bottom: 20%;
    right: 30%;
    width: 70px;
    height: 70px;
    animation: bounce-2 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.hero .circle:nth-child(4){
    top: 20%;
    right: 27%;
    width: 70px;
    height: 70px;
    animation: bounce-2 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.hero .circle:nth-child(5){
    top: 15%;
    right: 47%;
    width: 30px;
    height: 30px;
    animation: bounce-2 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    font-size: 1rem;

}

.hero .circle:nth-child(6){
    bottom: 20%;
    right: 57%;
    width: 20px;
    height: 20px;
    animation: bounce-2 1.5s reverse;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    font-size: .8rem;
}

.hero .circle:nth-child(7){
    top: 50%;
    left: 45%;
    width: 100px;
    height: 100px;
    animation: bounce-2 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    opacity: .4;
}

.hero .container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero .container .content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 20;
}

.hero .big-title{
    position: relative;
}

.hero .content .big-title h1{
    font-size: 7rem;
    color: var(--first);
    font-weight: bold;
    letter-spacing: 5px;
    z-index: 1;
    -webkit-text-stroke: 4px black;
}

.hero .content .big-title .back{
    position: absolute;
    right: -9px;
    top: -6px;
    color: var(--third);
    z-index: 0;
    -webkit-text-stroke: 3px black;
}

.hero .content .caption{
    text-align: center;
    color: var(--third);
    z-index: 2;
}

.hero .content .caption h3{
    font-family: var(--tebal);
    font-size: 2rem;
    letter-spacing: 5px;
    -webkit-text-stroke: .5px white;
    -webkit-text-fill-color: transparent;
    display: inline;
}

.hero .content .caption span{
    font-size: 2rem;
    font-family: var(--poppins);
    color: var(--first);
    font-weight: bold;
    letter-spacing: 3px;
    font-style: italic;
}

.hero .content .caption p{
    font-family: var(--biasa);
    font-weight: lighter;
    margin: 1.5rem 0;
}

.hero .content .button{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 2rem 0;
}

.hero .content .button .back{
    padding: 1.35rem 9.8rem;
    background: linear-gradient(to right, rgb(167, 240, 234), rgba(72, 253, 153, 0.7));
    color: black;
    border: 2px solid black;
    z-index: 0;
}

.hero .content .button .front{
    position: absolute;
    font-family: var(--poppins);
    font-weight: bold;
    padding: .4rem 4rem;
    background-color: white;
    border: 2px solid black;
    z-index: 1;
    transition: .3s;
}

.hero .content .button .front:hover{
    transform: translate(-10px, -10px);
}

.hero .circle-arrow{
    display: flex;
    width: 500px;
    height: 500px;
    padding: 3rem 0;
    border-radius: 50%;
    border: 2px solid var(--first);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    color: var(--first);
    position: absolute;
    bottom: -100px;
    right: -3%;
    z-index: 0;
    transition: 1s;
    box-shadow: 3px 3px 17px black;
}

.hero .circle-arrow:hover{
    width: 100px;
    cursor: pointer;
    height: 100px;
    padding: 1rem;
    font-size: 1.5rem;
    color: white;
    background-color: var(--first);
    right: 5%;
    bottom: 5%;
}


/* about */
.about{
    position: relative;
    width: 100%;
    padding: 10rem 15% 2rem 15%;
    transform: scale(.9);
}

.about::after{
    content: "";
    position: absolute;
    width: 10%;
    height: 5%;
    background-color: var(--first);
    right: 0;
    bottom: 15%;
}

.about .title h1{
    font-size: 3rem;
    font-family: var(--poppins);
    font-weight: bold;
    border-bottom: 2px solid var(--first);
}

.about .content .about-img,
.contact .content .about-img{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: green; */
}

.about .content .about-img .kotak:nth-child(1){
    position: absolute;
    width: 20%;
    height: 7%;
    background-color: var(--first);
    z-index: 2;
    left: 0;
    top: 5%;
    box-shadow: 1px 1px 5px black;
}

.about .content .about-img .kotak:nth-child(2){
    position: absolute;
    width: 25%;
    height: 5%;
    background-color: var(--first);
    z-index: 2;
    right: 0;
    bottom: 5%;
    box-shadow: 1px 1px 5px black;
}

.about .content .about-img::after{
    content: "";
    position: absolute;
    width: 90%;
    height: 70%;
    border: 10px solid var(--third);
    box-shadow: 3px 3px 15px black;
    z-index: 0;
}

.about .content .about-img img,
.contact .content .about-img img{
    object-fit: fill;
    width: 80%;
    filter: drop-shadow(3px 3px 3px black);
    z-index: 1
}

.about .content .about-content{
    padding: 0 2rem;
}

.about .content .about-content h1{
    color: #fff;
    font-family: var(--tebal);
    letter-spacing: 5px;
    font-size: 4rem;
    line-height: .9;
}

.about .content .about-content h1 span{
    color: var(--first);
}

.about .content .about-content p{
    margin-top: 2rem;
    line-height: 2;
    font-family: var(--poppins);
    font-weight: lighter;
}

.about .content .about-content .tech-stack h5{
    margin-top: 2rem;
    font-family: var(--poppins);
    font-weight: bold;
    letter-spacing: 2px;
}

/* portfolio */
.portfolio .top .box:nth-child(3){
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: var(--first);
    right: 0;
    top: 20%;
    transform: rotate(45deg);
    box-shadow: 2px 2px 20px var(--first);
    animation: blink-rotate 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.portfolio .top .box:nth-child(4){
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: var(--first);
    left: 0;
    top: 40%;
    transform: rotate(70deg);
    box-shadow: 2px 2px 20px var(--first);
    animation: blink-rotate 1.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.portfolio .top .box:nth-child(5){
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: var(--first);
    right: 10%;
    top: 55%;
    transform: rotate(45deg);
    box-shadow: 2px 2px 20px var(--first);
    animation: blink-rotate 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.portfolio .bottom .box:nth-child(3){
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: var(--first);
    left: 10%;
    bottom: 15%;
    transform: rotate(45deg);
    box-shadow: 2px 2px 20px var(--first);
    animation: blink-rotate 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.portfolio .bottom .box:nth-child(4){
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: var(--first);
    right: 20%;
    bottom: 30%;
    transform: rotate(70deg);
    box-shadow: 2px 2px 20px var(--first);
    animation: blink-rotate 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.portfolio .bottom .box:nth-child(5){
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: var(--first);
    right: 20%;
    bottom: 50%;
    transform: rotate(45deg);
    box-shadow: 2px 2px 20px var(--first);
    animation: blink-rotate 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.portfolio{
    width: 100%;
    /* height: 100vh; */
    position: relative;
    overflow: hidden;
    background-color: var(--third);
}

.portfolio .top{
    position: absolute;
    width: 100%;
    height: 50vh;
    background-color: var(--bg);
    z-index: 99;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.portfolio .top h1{
    position: absolute;
    bottom: 2%;
    font-size: 15rem;
    font-family: var(--biasa);
    font-weight: bold;
    letter-spacing: 10px;
    color: var(--first);
    -webkit-text-stroke: 5px black;
}

.portfolio .top h1:nth-child(2){
   position: absolute;
   color: var(--third);
   margin-left: 25px;
   -webkit-text-stroke: 3px black;
}

.portfolio .bottom{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50vh;
    background-color: var(--bg);
    z-index: 99;
    overflow: hidden;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.portfolio .bottom h1{
    position: absolute;
    font-size: 16rem;
    font-family: var(--tebal);
    letter-spacing: 10px;
    color: var(--first);
    -webkit-text-stroke: 5px black;
}

.portfolio .bottom h1:nth-child(2){
    position: absolute;
    color: var(--third);
    margin-left: 25px;
    -webkit-text-stroke: 3px black;
}

.portfolio .main{
    position: relative;
    width: 100%;
    height: 100vh;
    transform-origin: center;       
    background-color: var(--third);
    overflow: hidden;
    padding: 10rem 10%;
    display: flex;
}

.portfolio .main .kotak{
    position: absolute;
}

.portfolio .main .kotak:nth-child(1n){
    background-color: var(--bg);
}

.portfolio .main .kotak:nth-child(2n){
    background-color: var(--first);
}

.portfolio .main .kotak:nth-child(1){
    width: 250px;
    height: 100px;
    left: 0;
    top: 20%;
    animation: blink 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.portfolio .main .kotak:nth-child(2){
    width: 150px;
    height: 100px;
    right: 0;
    top: 40%;
    animation: blink 1.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.portfolio .main .kotak:nth-child(3){
    width: 100px;
    height: 100px;
    right: 10%;
    top: 60%;
    animation: blink 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.portfolio .main .kotak:nth-child(4){
    width: 100px;
    height: 50px;
    left: 10%;
    top: 80%;
    animation: blink 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


.portfolio .main .content{
    width: 100%;
    margin-top: 65vh;
}

.portfolio .main .container-fluid{
    /* height: 100vh; */
    width: 100%;
    padding: 10rem 2rem;
}

.portfolio .main .container-fluid .box{
    position: relative;
    width: 100%;
    height: 100%;
    animation: bounce 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.portfolio .main .container-fluid .carousel{
    box-shadow: 1px 1px 10px rgba(0, 0, 0, .6);
    border-radius: 15px;
    overflow: hidden;
}

.portfolio .main .container-fluid .carousel .big-img{
    filter: grayscale(1);
    transition: .6s;
}

.portfolio .main .container-fluid .carousel .big-img:hover{
    filter: grayscale(0);
}

.portfolio .main .container-fluid .carousel .carousel-caption{
    display: flex;
    justify-content: space-between;
    background-color: white;
    margin-bottom: 1.5rem;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .6);
}

.portfolio .main .container-fluid .carousel h5{
    font-size: 1.5rem;
    font-weight: bold;
    font-family: var(--poppins);
    text-align: start;
}

.portfolio .main .container-fluid .carousel-caption .tech{
    display: flex;
    margin: 1rem 0;
}

.portfolio .main .container-fluid .carousel-caption p{
    font-size: 1rem;
    line-height: 1.2;
    font-family: var(--poppins);
}

.portfolio .main .container-fluid .carousel .carousel-caption img{
    width: 40px;
}


/* contact */
.contact{
    width: 100%;
    height: 90vh;
    background: var(--third);
    padding: 8rem 0;
}

.contact .container{
    transform: scale(.9);
}

.contact .title h1{
    border-bottom: 5px solid var(--first);
    line-height: 1.5;
}

.contact .content .about-img .kotak:nth-child(1){
    position: absolute;
    width: 20%;
    height: 10%;
    background-color: var(--first);
    transform: rotate(135deg);
    z-index: 2;
    left: 5%;
    top: 2%;
    box-shadow: 1px 1px 5px black;
}

.contact .content .about-img .kotak:nth-child(2){
    position: absolute;
    width: 70%;
    height: 15%;
    background-color: var(--bg);
    z-index: 0;
    right: 5%;
    bottom: 15%;
    box-shadow: 1px 1px 5px black;
}

.contact .content .about-img img{
    margin-left: 3.5rem;
}


.contact .content form{
    position: relative;
}

.contact .content form label{
    font-family: var(--poppins);
}

.contact .content form input,
.contact .content form textarea{
    border: 1px solid var(--bg);
}

.contact .content form button{
    display: inline-block;
    padding: .5rem 2rem;
    background-color: var(--bg);
    color: var(--first);
    font-weight: bold;
    letter-spacing: 2px;
    z-index: 2;
    transition: .4s;
}

.contact .content form button:hover{
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .9);
}


/* footer */
footer{
    background-color: var(--third);
    padding: 1rem;
    font-family: var(--poppins);
    font-size: .8rem;
    letter-spacing: 1px;
}





/* MEDIA QUERY */
/* Tablet */
@media (max-width: 900px){
    html{
        font-size: 70.5%;
    }

    /* navbar */
    .mynavbar{
        padding: 2rem 5%;
    }

    .mynavbar .nav-logo{
        line-height: .9;
        letter-spacing: 3px;
    }

    /* hero */
    .hero{
        padding: 2rem 5%;
    }

    .hero .content .caption{
        text-align: start;
    }

    .hero .content .caption p{
        text-align: start;
    }

    .hero .content .big-title{
        margin-bottom: 3.5rem;
    }

    .hero .content .big-title h1{
        line-height: .9;
    }

    .hero .content .big-title .back{
        top: -5px;
        margin-left: 7px;
    }

    .hero .content .caption h3 .garis{
        display: none;
    }

    .hero .content .caption h3{
        display: block;
    }

    .hero .content .caption p{
        font-size: 1.3rem;
    }

    .hero .content .button{
       margin: 2rem 0;
       justify-content: start;
    }

    .hero .content .button .front{
        transform: translate(-6px, -6px);
    }

    .hero .content .button .front:hover{
        transform: translate(-8px, -8px);
    }

    .hero .circle-arrow{
        width: 70px;
        height: 70px;
        padding: 2rem 0;
        border-radius: 50%;
        border: 1px solid var(--first);
        background-color: var(--first);
        font-size: 2rem;
        color: var(--bg);
        bottom: 5%;
        right: 5%;
        transition: 1s;
        box-shadow: 3px 3px 17px black;
    }

    .hero .circle-arrow:hover{
        width: 70px;
        height: 70px;
        padding: 2rem 0;
        border-radius: 50%;
        background-color: var(--first);
        font-size: 2rem;
        color: var(--bg);
        bottom: 5%;
        right: 5%;
        transition: 1s;
        box-shadow: 3px 3px 17px black;
    }

    .hero .circle{
        opacity: .2;
    }

    .hero .circle:nth-child(2){
        bottom: 70%;
        left: 3%;
    }


    .hero::before{
        left: -10%;
        opacity: .4;
    }



    /* about */
    .about{
        padding: 10rem 7%;
    }

    .about .content .about-img{
        margin-bottom: 3rem;
    }

    .about .content .about-content p{
        font-size: 1.3rem;
        line-height: 2;
    }

    /* portfolio */
    .portfolio .main{
        padding: 20rem 5%;
    }

    .portfolio .main .content .mobile .tech-mobile img{
        width: 35px;
    }

    .portfolio .main .content .mobile .tech-mobile img.ms-2{
        width: 30px;
    }

    .portfolio .main{
        height: 106vh;
    }

    .portfolio .top{
        height: 53vh;
    }

    .portfolio .bottom{
        height: 53vh;
    }

    /* contact */
    .contact{
        padding: 10rem 5%;
    }

    .contact .content form input,
    .contact .content form textarea{
        border: 1px solid var(--bg);
    }

}


/* Handphone */
@media (max-width: 450px){
    html{
        font-size: 45%;
    }

    /* navbar */
    .mynavbar{
        padding: 2rem 5%;
    }

    .mynavbar .nav-logo{
        line-height: .9;
        letter-spacing: 2px;
        text-shadow: 1px 1px 2px var(--first);
    }

    .mynavbar .navbar-nav{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 22rem;
        background-color: white;
        transform: scaleY(0);
        transform-origin: top;
        transition: .3s;
    }

    .mynavbar .navbar-nav.active{
        transform: scaleY(1);
    }

    .mynavbar .nav-extra i{
        font-size: 2rem;
    }

    .mynavbar .nav-extra i.active{
        color: var(--first);
    }

    .mynavbar .nav-links{
        display: flex;
        width: 40%;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: start;
        height: 100%;
    }
    
    .mynavbar .nav-links a{
        font-size: 2.5rem;
        color: rgb(194, 194, 194);
    }

    .mynavbar .nav-links a:hover{
        color: var(--bg);
    }

    .mynavbar .nav-socials{
        display: flex;
        width: 60%;
        justify-content: space-evenly;
    }

    .mynavbar .nav-socials a i{
       font-size: 2rem;
    }

    /* hero */
    .hero{
        padding: 2rem 5%;
    }

    .hero .content .big-title{
        margin-bottom: 3rem;
    }

    .hero .content .big-title h1{
        line-height: 1;
    -webkit-text-stroke: 2px black;

    }
    
    .hero .content .big-title .back{
        top: -4px;
        margin-left: 6px;
        -webkit-text-stroke: 2px black;

    }

    .hero .content .caption h3{
        -webkit-text-stroke: .2px white;
        display: block;
    }

    .hero .content .caption h3 .garis{
        display: none;
    }

    .hero .content .caption p{
        font-size: 1.2rem;
    }

    .hero .content .button .front{
        transform: translate(-5px, -5px);
    }

    .hero .content .button .front:hover{
        transform: translate(-5px, -5px);
    }

    .hero .circle-arrow{
        width: 45px;
        height: 45px;
        padding: 2rem 0;
        border-radius: 50%;
        border: 1px solid var(--third);
        background-color: var(--third);
        font-size: 2rem;
        color: var(--bg);
        bottom: 5%;
        right: 5%;
        transition: 1s;
        box-shadow: 3px 3px 17px black;
    }

    .hero .circle-arrow:hover{
        width: 45px;
        height: 45px;
        padding: 2rem 0;
        border-radius: 50%;
        background-color: var(--third);
        font-size: 2rem;
        color: var(--bg);
        bottom: 5%;
        right: 5%;
        transition: 1s;
        box-shadow: 3px 3px 17px black;
    }

    .hero::before,
    .hero::after{
        display: none;
    }

    .hero .circle:nth-child(2){
        left: -10%;
    }

    .hero .circle:nth-child(3){
        top: 50%;
        opacity: .3;
    }

    .hero .circle:nth-child(4){
        top: 0;
        right: 20%;
    }

    .hero .circle:nth-child(7){
        top: 30%;
        left: 80%;
        opacity: 1;
    }



    /* about */
    .about{
        padding: 10rem 5%;
    }

    .about .content .about-img{
        margin-bottom: 2rem;
        opacity: 0;
    }

    .about::after{
        width: 20%;
        height: 5%;
        right: 0;
        bottom: 2%;
    }


    /* portfolio */
    .portfolio .top .box:nth-child(3){
        width: 50px;
        height: 50px;
        right: -5%;
        top: 50%;
    }
    
    .portfolio .top .box:nth-child(4){
        left: -9%;
        top: 20%;
    }
    
    .portfolio .top .box:nth-child(5){
        top: 40%;
        left: 40%;
    }

    .portfolio .bottom .box:nth-child(3){
        width: 70px;
        height: 70px;
        bottom: 25%;
        left: 0;
    }

    .portfolio .bottom .box:nth-child(4){
        bottom: 50%;
        right: 40%;
    }

    .portfolio .bottom .box:nth-child(5){
        right: 0;
    }

    .portfolio .top h1{
        font-size: 9rem;
        font-family: var(--biasa);
        font-weight: bold;
        letter-spacing: 5px;
        color: var(--first);
        -webkit-text-stroke: 3px black;
    }

    .portfolio .top h1:nth-child(2){
        margin-left: 13px;
    }
    
    .portfolio .bottom h1{
        font-size: 10rem;
        font-family: var(--tebal);
        letter-spacing: 5px;
        color: var(--first);
        -webkit-text-stroke: 3px black;
    }
    
    .portfolio .bottom h1:nth-child(2){
        margin-left: 13px;
    }

    .portfolio .main{
        padding: 10rem 3%;
    }

    .portfolio .main .content .mobile .tech-mobile img{
        width: 15px;
    }

    .portfolio .main .content .mobile .tech-mobile img.ms-2{
        width: 13px;
        height: 11px;
    }

    .portfolio .main .kotak:nth-child(3){
        top: 80%;
    }

    .portfolio .main .kotak:nth-child(4){
        left: 0;
    }


    /* contact */
    .contact{
        padding: 10rem 5%;
    }

    .contact .content form input,
    .contact .content form textarea{
        border: 1px solid var(--bg);
    }
}



/* ANIMATION */
@keyframes bounce{
    0%{
        transform: translateY(20px);
    }

    /* 50%{
        transform: translateY(-20px);
    } */

    100%{
        transform: translateY(0);
    }
}

@keyframes bounce-2{
    0%{
        transform: translateY(0);
    }

    /* 50%{
        transform: translateY(50px);
    } */

    100%{
        transform: translateY(50px);
    }
}

@keyframes big-bounce{
    0%{
        transform: translateY(100px);
    }

    /* 50%{
        transform: translateY(100px);
    } */

    100%{
        transform: translateY(0);
    }
}

@keyframes blink-rotate{
    0%{
        transform: rotate(45deg);
        opacity: 1;
        z-index: -1;
    }
    
    100%{
        transform: rotate(90deg);
        opacity: 0;
        z-index: -1;
    }
    
}

@keyframes blink{
    0%{
        opacity: 1;
    }

    100%{
        opacity: 0;
    }
    
}

